@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Nunito+Sans:opsz,wght@6..12,200&family=Playfair+Display&display=swap');

.App {
  text-align: center;
  font-family: 'Hedvig Letters Serif', serif;
}


.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px;
  background-color: #03011d;
  overflow-x: auto;
  display: flex;
  z-index: 1000;
  /* Set a high z-index to ensure it appears above other content */

}

.navlink {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-height: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  text-decoration: none;
  -webkit-top-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.navtext {
  color: white;
}

.navlink i {
  color: rgb(255, 250, 250);
}

.kadamawe {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.kadamlink a {
  color: black;
  text-decoration: none;
}
.packagebagcont{
  background-color:  #01afff;
  border-radius:  #111212;
  border-radius: 35px;
  margin: 20px;
}
.myleveldaily{
  width: 50%;
  margin-left: 40%;
}
.dailyincome h2{
  font-size: 12px;
}
.packagebag{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.updatelevel{
  display: flex;
  gap: 80px;
  justify-content: center;
}
.effectivetime{
  display: flex;
  gap: 10px;
}

.task2 {
  display: flex;
  justify-content: space-around;
}

.upgrade {
  background-color: #090449ef;
  color: white;
  font-size: 10px;
  padding: 13px 25px 10px 25px;
  border-radius: 25px;
}
.upgrade a h2{
text-decoration: none;
color: white;
}

.youtube {
  width: 150px;
}

.taskcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.taskcard {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  position: relative;
  width: 9em;
  height: 8em;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.339);
  cursor: pointer;
  transition: all 120ms;

  /*align-items: center;
  justify-content: center; */
  background: #fff;
  padding: 2px;
  padding-right: 22px;
  padding-bottom: 3.4em;
}

.taskspan {
  background-color: #03011d;
  color: white;
  padding: 10px 50px 10px 50px;
  width: 100%;
  box-sizing: border-box;
}

.task3 {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.task3 a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.pendingtask {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.wallet {
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
  margin: 20px;
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 2px;
  border-radius: 12px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.339);

}

.balance h2 {
  margin-bottom: -10px;
  font-size: 15px;
  font-weight: 600;
}

.withrech button {
  margin-left: 5px;
  padding: 10px 7px 10px 7px;
  border-radius: 10px;
}

.withdraw {
  background-color: white;
}

.recharge {
  background-color: #05022d;
  color: white;
}

.taskcontainer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.taskcard2 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  position: relative;
  width: 10em;
  height: 4em;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.093);
  cursor: pointer;
  transition: all 120ms;

  /*align-items: center;
  justify-content: center; */
  background: #fff;
  padding: 2px;
  padding-right: 22px;
  padding-bottom: 3.4em;
}

.taskspan2 {
  padding: 10px;
  background-color: #05022d;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  width: 100%;
  text-shadow: 0px 4px 18px #2c3442;
}

/* Apply general styling to the input container */
.input1 {
  display: flex;
  width: 390px;
  /* Adjust the width as needed */
  margin: 10px;
  /* Adjust margin as needed */
}

/* Style for the input field */
.firstform {
  flex: 1;
  /* Allow the input field to take remaining width */
  padding: 10px;
  /* Add padding for spacing inside the input field */
  border-radius: 5px 0 0 5px;
  /* Add border-radius for a rounded appearance on the left */
  border: 1px solid #ced4da;
  /* Add a border for a clean look */
}

/* Style for the input group text (e.g., "@example.com") */
.inputform2 {
  display: flex;
  /* Use flexbox for layout */
  align-items: center;
  /* Center the text vertically */
  color: white;
  width: 20%;
  background-color: #05022d;
  /* Add background color */
  padding: 7px;
  /* Add padding for spacing inside the text container */
  border-radius: 0 5px 5px 0;
  /* Add border-radius for a rounded appearance on the right */
  border: 1px solid #ced4da9d;
  /* Add a border for a clean look */
}

.share {
  display: flex;
  align-items: center;
  margin: 10px;
}

.share p {
  font-size: 12px;
  width: 83%;
}

.sharebutton button {
  display: flex;
  gap: 5px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 10px;
}

.sharebutton i {
  font-size: 16px;
}

.rewardheader h2 {
  display: flex;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 0px;
}

.logo {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
  color: #1877f2;
  font-weight: 700;
}

.formheader {
  margin-left: 5%;
 
}

form {
  display: flex;
  margin-left: 10%;
  margin-top: 20%;
  flex-direction: column;
  background: #fff;
  padding: 1.5rem 1rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

form input {
  outline: none;
  padding: 0.4rem 0.5rem;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
}
.pending i{
  font-size: 130px;
  opacity: 0.2;
}
.pending{
  margin-top: 10%;
}

form input:focus {
  border: 1.8px solid #1877f2;
}

form .login {
  outline: none;
  border: none;
  background: #1877f2;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  color: #fff;
}

form .login:hover {
  background: #0f71f1;
  cursor: pointer;
}

form a {
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 0.8rem;
  color: #4493fa;
}

form hr {
  background: #f7f7f7;
  margin: 0.5rem;
}

form .create-account {
  outline: none;
  border: none;
  background: #0645b9;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: #fff;
  width: 75%;
  margin: 0 auto;
}

form .create-account:hover {
  background: #022667;
  cursor: pointer;
}

.user {
  display: flex;
  gap: 30px;

  padding-left: 30px;
}

.user i {
  font-size: 84px;
  margin-top: 20px;
}

.startaccount p {
  padding-bottom: 10px;
  font-size: 12px;
}

.usercontainer {
  background-color: #05022d;
  color: rgb(255, 255, 255);
}

.moreinfo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 8%;
  text-shadow: 0px 4px 18px #202834;
}

#arrowright {
  margin-left: 1200%;
}

.getmoreinfo {
  background-color: inherit;
  border: none;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 3%;
}

.getmoreinfo:hover {
  text-shadow: 0px 4px 18px #01afff;

}

















@media screen and (max-width: 600px) {
  .taskcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .taskcard {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    position: relative;
    width: 6em;
    height: 3em;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.339);
    cursor: pointer;
    transition: all 120ms;
  
    /*align-items: center;
    justify-content: center; */
    background: #fff;
    padding-left: 16px;
    padding-top: 20px;
    padding-right: 22px;
    padding-bottom: 3.4em;
  }
  
  .taskspan {
    background-color: #03011d;
    color: white;
    padding: 10px 10px 10px 10px;
    width: 50%;
    box-sizing: border-box;
  }
  .youtube {
    width:90px;
  }
  .youtube1{
    width: 110px;
  }
  .taskcontainer2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
.taskcard2 h2{
font-size: 18px;
}
.taskcard2 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  position: relative;
  width: 6em;
  height: 4em;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.093);
  cursor: pointer;
  transition: all 120ms;

  /*align-items: center;
  justify-content: center; */
  background: #fff;
  padding-left: 16px;
  padding-top: 20px;
  padding-right: 22px;
  padding-bottom: 23px;
}

.taskspan2 {
  padding: 10px;
  background-color: #05022d;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 100;
  font-size: 7.5px;
  width: 100%;
  text-shadow: 0px 4px 18px #2c3442;
}
/* Apply general styling to the input container */
.input1 {
  display: flex;
  width: 230px;
  /* Adjust the width as needed */
  margin-left: 15px;
  /* Adjust margin as needed */
}

/* Style for the input field */
.firstform {
  flex: 1;
  /* Allow the input field to take remaining width */
  padding: 10px;
  /* Add padding for spacing inside the input field */
  border-radius: 5px 0 0 5px;
  /* Add border-radius for a rounded appearance on the left */
  border: 1px solid #ced4da;
  /* Add a border for a clean look */
}

/* Style for the input group text (e.g., "@example.com") */
.inputform2 {
  display: flex;
  /* Use flexbox for layout */
  align-items: center;
  /* Center the text vertically */
  color: white;
  width: 20%;
  background-color: #05022d;
  /* Add background color */
  padding: 8px;
  padding-left: 20px;
  font-size: 13px;
  /* Add padding for spacing inside the text container */
  border-radius: 0 5px 5px 0;
  /* Add border-radius for a rounded appearance on the right */
  border: 1px solid #ced4da9d;
  /* Add a border for a clean look */
}

.share {
  display: flex;
  align-items: center;
  margin: 6px;
}

.share p {
  font-size: 9px;
  width: 60%;
}

.sharebutton button {
  margin: 30px;
  display: flex;
  gap: 5px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 10px;
}

.sharebutton i {
  font-size: 16px;
}

.rewardheader h2 {
  display: flex;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 20px;
}
form {
  display: flex;
  margin-left: 10%;
  margin-top: 15%;
  flex-direction: column;
  background: #fff;
  padding: 1.5rem 1rem;
  width: 250px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

}
@media screen and (max-width: 280px) {
  .taskcontainer2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
.taskcard2 h2{
font-size: 18px;
}
.taskcard2 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  position: relative;
  width: 4em;
  height: 5em;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.093);
  cursor: pointer;
  transition: all 120ms;

  /*align-items: center;
  justify-content: center; */
  background: #fff;
  padding-left: 16px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 23px;
}

.taskspan2 {
  padding: 3px;
  background-color: #05022d;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 100;
  font-size: 9.5px;
  width: 100%;
  text-shadow: 0px 4px 18px #2c3442;
}
.input1 {
  display: flex;
  width: 130px;
  /* Adjust the width as needed */
  margin-left: 15px;
  /* Adjust margin as needed */
}

/* Style for the input field */
.firstform {
  flex: 1;
  /* Allow the input field to take remaining width */
  padding: 3px;
  /* Add padding for spacing inside the input field */
  border-radius: 5px 0 0 5px;
  /* Add border-radius for a rounded appearance on the left */
  border: 1px solid #ced4da;
  /* Add a border for a clean look */
}

/* Style for the input group text (e.g., "@example.com") */
.inputform2 {
  display: flex;
  /* Use flexbox for layout */
  align-items: center;
  /* Center the text vertically */
  color: white;
  width: 35%;
  background-color: #05022d;
  /* Add background color */
  padding: 5px;
  padding-left: 10px;
  font-size: 13px;
  /* Add padding for spacing inside the text container */
  border-radius: 0 5px 5px 0;
  /* Add border-radius for a rounded appearance on the right */
  border: 1px solid #ced4da9d;
  /* Add a border for a clean look */
}
.withrech button {
  margin-left: 5px;
  padding: 6px 7px 6px 7px;
  border-radius: 10px;
}

.withdraw {
  background-color: white;
}

.recharge {
  background-color: #05022d;
  color: white;
}

form {
  display: flex;
  /* margin-left: 10%; */
  margin-top: 15%;
  flex-direction: column;
  background: #fff;
  padding: 1.5rem 1rem;
  width: 240px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

form input {
  outline: none;
  padding: 5px 6px;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
}
.mightycrown{
  width: 60%;
}
}